/* ---------------------- FORM ---------------------- */

.form {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;

  border-radius: 8px;
  padding: 12px;
  min-width: 408px;
  background: #fff;

  justify-content: center;
  align-items: center;

  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form label input {
  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 360px;
  padding: 8px 16px;
  transition: border-color 200ms ease-in-out;
}

.form label input:focus {
  border-color: #4e75ff;
  outline: none;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4e75ff;
  font-weight: 500;
  color: #fff;
  border: none;
  transition: background-color 250ms ease-in-out;
}

.form button:hover,
.form button:focus {
  background-color: #6c8cff;
}

/* ---------------------- GALLERY ---------------------- */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  flex: 0 0 calc((100% - 48px) / 3);
  max-width: 360px;
  border: 1px solid #a0a0a0;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.image-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px 0;
  background-color: #ffffffbb;
  backdrop-filter: blur(4px);
}

.image-info-list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* ---------------------- LOAD MORE ---------------------- */

.load-more-wrapper {
  text-align: center;
  margin: 32px 0 50px;
}

.load-more {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  background-color: #4e75ff;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 250ms ease-in-out;
}

.load-more:hover {
  background-color: #6c8cff;
}

.load-more.hidden,
.load-more-wrapper.hidden {
  display: none;
}

/* ---------------------- LOADER ---------------------- */

.loader {
  display: none;
  margin: 12px auto 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid #4e75ff;
  animation: prixClipFix 2s linear infinite;
}

.loader.active {
  display: block;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
